<div class="row text-center character">
    <div class="col-md-6 col-md-offset-3">
        <h2>Huey</h2>
        <img class="character" src="../views/templates/images/huey.jpg">
        <p>Politically sapient and borderline militant, Huey Freeman, being a self-described revolutionary left-wing radical, regularly reflects upon current events as well as the plight of African-Americans as it relates to a greater American society. As presented by his pessimistic personality, Huey's character has often been described as "misanthropic" and "cynical".</p>
    </div>
</div>